body{
    margin: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    color: black;
    line-height: 1.55;
    max-width: 20000px;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul li{
    list-style: none;
}

*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* ---------------------------------------------------------------- 
/*Scroolbar*/

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #fff;
}
body::-webkit-scrollbar-thumb {   
    background: rgba(218, 157, 107, 0.712)  
}
body::-webkit-scrollbar-thumb:hover{
    background-color: bisque;
}

/* <--------------Шапочка--------------------------------------------------------------> */
body._lock{
    overflow: visible;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    min-height: 70px;
    max-height: 3vh;
    background-color:rgb(255, 255, 255);
    padding-top: 5px;
    margin-bottom: 70px;
}

.header__container{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;    
}
.logo
{
    font-size: 50px;
    height: 70px;
}

.logo__inner{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5px;
    color: #fff;
}


.menu__list > li{
    position: relative;
    margin: 20px 15px 0px 20px;
}

.menu__list > li:hover{
    text-decoration: underline;
    color:#44371f67
}

.menu__link{
    color: rgb(0, 0, 0);
    font-style: 20px;
    text-decoration: none;
    font-weight: bold;
}
.menu__link:hover{
    color: #00aeff;
    font-weight: 900;
}

.menu__icon{
    display: none;
}


@media(max-width:1100px){

    .logo span{
        font-size: 35px;
    }
}


@media (min-width: 1000px){
    .menu__list{
        display: flex;
        align-items: center;
    }
    .menu_list > li{
        padding: 10px 0;
    }
}

@media (max-width: 1000px){
    .menu__icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all .3s ease 0s;
        background-color: rgb(0, 0, 0);

    }
    .logo{
        z-index: 5;
    }

    .menu__icon::before,
    .menu__icon::after{
        content: "";
    }

    .menu__icon::before{
        top: 0;
    }


    .menu__icon::after{
        bottom: 0;
    }

    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        padding: 100px 30px 30px 30px;

        transition: left .3s ease 0s;
        overflow: auto;
    }


    .menu__body._active{
        left: 0;
    }

    .menu__body::before{
        content:"";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background: linear-gradient(45deg, rgb(246,146,109), rgb(193,85,116));

        z-index: 5;
    }

    .menu__list > li{
        margin: 0px 0px 30px 0px;
    }

    .menu_list > li:last-child{
        margin-bottom: 0;
    }

    .menu__link{
        font-size: 40px;
        color: #d4dade;
    } 


    .footer .container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px){
    .logo span{
        display: none;
    }
}

/* ---------------------------------------------------------------- 
-------------------------------------------------------------------*/
/* Wrapper для раздела "О компании" */


nav.woocommerce-breadcrumb {
    font-weight: 400;
    font-family: 'Ubuntu';
    text-transform: uppercase;
}

nav.woocommerce-breadcrumb a {
    color: #d4dade;
    text-decoration: none;
}

nav.woocommerce-breadcrumb span {
    color: #676bc2;
    max-width: fit-content;
}

.info{
    padding: 0 0 0;
    padding-top: 80px;
    margin: 15px;
}

section{
    display: block;
}

.info h2 {
    margin-bottom: 20px;
    color: #1a2026;
    background:linear-gradient(45deg, rgb(247,148,109), rgb(193,85,116));
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper_title{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.info p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.8;
}

.h2_desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.55;
    margin-bottom: 0;
}

.content{
    display: block;
}

.content > div{
    margin-bottom: 100px;
}

.container1{
    display: flex;
    justify-content: center;
}

.container1 img{
    width: 50%;
    border-radius: 20px;
}

.container1 p{
    margin: 60px 20px 60px 0px;
}

.container2{
    display: flex;
    justify-content: center;
}

.container2 img{
    width: 40%;
    border-radius: 20px;
}

.container2 p{
    margin: 80px 0px 60px 40px;
}


.container3{
    display: flex;
    justify-content: center;
}

.container3 img{
    width: 100%;
    border-radius: 20px;
}

.container3 p{
    margin: 80px 40px 60px 0px;
}


@media(max-width: 800px){
    .content > div{
        margin-bottom: 20px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;    
    }
    .container1 img{
        width: 100%;
    }
    .container1{
        flex-direction: column-reverse;
    }
    .container2 img{
        width: 100%;
    }
    .container p{
        margin: 30px 0px;
    }

    .container3 img{
        width: 100%;
    }
    .container3{
        flex-direction: column-reverse;
    }
}




/* ---------------------------------------------------------------- 
-------------------------------------------------------------------*/
/* Футер */


.footer{
    background:rgba(218, 157, 107, 0.712);
    padding: 25px 0;
    display: list-item;
    /* bottom: 0; */
}

.footer__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-content:center;
}


.footer__logo-pic{
    width: 15%;
    transition: 0.5s;
}
.footer__logo-pic:hover{
    transform: scale(1.2);
}

footer.logo{
    height: 490px;
    width: 461px;
}

.footer__nav{

    display: flex;
    align-items:stretch;
}


.footer__nav ul{
    padding-left: 40px;
}



.footer__menu-title{
    color: rgba(82, 22, 22, 0.788);
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
    font-weight: bold;
    
}

.footer__menu-link{
    color: rgb(158, 109, 109);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

}

.footer__menu-item{
    margin: 10px
}

@media (max-width: 1000px) {

    .footer__nav{
        flex-direction: column;
        justify-content: stretch;
        padding-left: 0;

    }
    .footer__menu{
        padding-left: 0;
        padding-inline-start: 0%;
    }
    .footer__menu-title{
        font-weight: 700;
        font-size: 30px;
    }
    .footer__menu-link{
        font-size: 30px;
    }
    .footer__nav ul{
        padding-left: 0px;
    }

    .footer__item{
        flex-direction: column;
        align-content: center;
    }

    .footer__logo{
        margin-bottom: 70px;
    }
    .footer__logo-pic{
        margin-left: 10px;
    }
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
    opacity: .75;
}


.footer .wrapper {
    display: inline-flex;
    list-style: none;
    margin-top: 40px;

}
  
.footer .wrapper .icon {
    position: relative;
    background: linear-gradient(45deg, rgb(247,148,109), rgb(193,85,116));
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
.footer  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
.footer  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
.footer .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
.footer  .wrapper .icon:hover span,
.footer  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .footer  .wrapper .facebook:hover,
  .footer .wrapper .facebook:hover .tooltip,
  .footer .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .footer .wrapper .twitter:hover,
  .footer .wrapper .twitter:hover .tooltip,
  .footer .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .footer .wrapper .instagram:hover,
  .footer .wrapper .instagram:hover .tooltip,
  .footer .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .footer .wrapper .github:hover,
  .footer .wrapper .github:hover .tooltip,
  .footer .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .footer .wrapper .youtube:hover,
  .footer .wrapper .youtube:hover .tooltip,
  .footer .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }